h1 {
    font-size: 36px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
}

h2, h3 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: normal;
}

p {
  font-size: 15px;
  font-weight: 330;
}

#sections {
  position: relative;
  display: inline-block;
  width: 450px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  height: 600px;
  width: 600px;
  margin-left:50px;
  background-color:#fcfcfc;
}

#step1 {
  margin-top: 70px;
}

/* increase the font size for the title class */
.title {
  font-size:35px;
  font-weight:500;
}

.intro {
  font-size:18px;
  font-weight:330;
}

.fact {
  font-size:25px;
  font-weight:350;
  color: gray;
  font-style: italic;
}

/* Give the step class a margin bottom of 300px */
.step {
  margin-bottom:300px;
}

/******  TREE LAYOUT MONICA  ******/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
body {
    font-family: "Source Code Pro", Consolas, monaco, monospace;
    line-height: 160%;
    font-size: 16px;
    margin: 0;
}

path.link {
  fill: none;
  stroke-width: 2px;
}
.node:not(:hover) .nodetext {
  display: none;
}

header {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

a:link {
    color: #EE3124;
    text-decoration: none;
}
a:visited {
     color: #EE3124;
    }
a:hover {
     color: #A4CD39; text-decoration: underline;
    }
a:active {
     color: #EE3124;
    }
    
 
 /*tree map links*/
.node {
  cursor: pointer;
}
 
 
.node text {
  font: 12px sans-serif;
}
 
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
/******  LINE CHART DARRYL ******/

.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
